@model Inmobiliaria_.Net_Core.Models.Pago

</br></br></br></br>
<h4 style="color:whitesmoke;text-align:center">@ViewData["Title"]</h4>
<div class="row">
    <div class="col-md-3"> </div>
    <div class="col-md-6">
        <dl class="row" style="background-color:whitesmoke">
            <dt class="col-sm-1"> </dt>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.IdPago)
            </dt>
            <dt class="col-sm-2"> </dt>
            <dd class="col-sm-5">
                @Html.DisplayFor(model => model.IdPago)
            </dd>
            <dt class="col-sm-1"> </dt>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.NroPago)
            </dt>
            <dt class="col-sm-2"> </dt>
            <dd class="col-sm-5">
                @Html.DisplayFor(model => model.NroPago)
            </dd>
            <dt class="col-sm-1"> </dt>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.IdAlquiler)
            </dt>
            <dt class="col-sm-2"> </dt>
            <dd class="col-sm-5">
                @Html.DisplayFor(model => model.IdAlquiler)
            </dd>
            <dt class="col-sm-1"> </dt>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.Fecha)
            </dt>
            <dt class="col-sm-2"> </dt>
            <dd class="col-sm-5">
                @Html.DisplayFor(model => model.Fecha)
            </dd>
            <dt class="col-sm-1"> </dt>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.Importe)
            </dt>
            <dt class="col-sm-2"> </dt>
            <dd class="col-sm-5">
                @Html.DisplayFor(model => model.Importe)
            </dd>
        </dl>

        <form asp-action="Delete">
            &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
            &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
            <a asp-action="Index" style="font-weight:bold" class="btn btn-secondary">Cancelar</a>
            <input type="submit" value="Eliminar" style="font-weight:bold; border:groove" class="btn btn-danger" />
        </form>
        <div class="col-md-3"> </div>
    </div>
