@model Inmobiliaria_.Net_Core.Models.Alquiler

@{
    string inmuebleV = Convert.ToString(Model.inmueble.Tipo + " ubicado en " + Model.inmueble.Direccion);
    string inquilinoV = Convert.ToString(Model.inquilino.Apellido + " " + Model.inquilino.Nombre);
}
<h2 style="color:white">@ViewData["Title"]</h2>
<div class="row" style="color:whitesmoke">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <table style="color:white">
            <tr height="50">
                <td><label>Inmueble </label></td>
                <td style="color:#ffcc00;font-weight:bold"><label>@inmuebleV</label></td>
            </tr>
            <tr height="50">
                <td><label>Cuota Mensual de $ </label></td>
                <td style="color:#ffcc00;font-weight:bold"><label>@Model.inmueble.Precio</label></td>
            </tr>
            <tr height="50">
                <td><label>Locatario</label></td>
                <td style="color:#ffcc00;font-weight:bold"><label>@inquilinoV</label></td>
            </tr>
        </table>
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @Html.HiddenFor(d => d.IdInmueble, new { id = "IdInmueble" })
            @Html.HiddenFor(d => d.IdInquilino, new { id = "IdInquilino" })
            <div class="form-group">
                <label asp-for="Fecha_inicio" class="control-label"></label>
                <input asp-for="Fecha_inicio" type="date" class="form-control" />
                <span asp-validation-for="Fecha_inicio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Fecha_fin" class="control-label"></label>
                <input asp-for="Fecha_fin" type="date" class="form-control" />
                <span asp-validation-for="Fecha_fin" class="text-danger"></span>
            </div>
            <div class="form-group">
                <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
                <input type="submit" value="Guardar" style="font-weight:bold; border:groove" class="btn btn-warning" />
            </div>
        </form>
    </div>
    <div class="col-md-3"></div>
</div>


