@model Inmobiliaria_.Net_Core.Models.Inmueble


 </br></br></br></br>
<h4 style="color:whitesmoke;text-align:center">@ViewData["Title"]</h4>
<div class="row">
    <div class="col-md-3"> </div>
    <div class="col-md-6">

        <dl class="row" style="background-color:whitesmoke">
            <dt class="col-sm-3"> </dt>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.IdInmueble)
            </dt>
            <dt class="col-sm-2"> </dt>
            <dd class="col-sm-5">
                @Html.DisplayFor(model => model.IdInmueble)
            </dd>
            <dt class="col-sm-3"> </dt>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Direccion)
            </dt>
            <dt class="col-sm-2"> </dt>
            <dd class="col-sm-5">
                @Html.DisplayFor(model => model.Direccion)
            </dd>
            <dt class="col-sm-3"> </dt>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Ambientes)
            </dt>
            <dt class="col-sm-2"> </dt>
            <dd class="col-sm-5">
                @Html.DisplayFor(model => model.Ambientes)
            </dd>
            <dt class="col-sm-3"> </dt>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Tipo)
            </dt>
            <dt class="col-sm-2"> </dt>
            <dd class="col-sm-5">
                @Html.DisplayFor(model => model.Tipo)
            </dd>
            <dt class="col-sm-3"> </dt>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Uso)
            </dt>
            <dt class="col-sm-2"> </dt>
            <dd class="col-sm-5">
                @Html.DisplayFor(model => model.Uso)
            </dd>
            <dt class="col-sm-3"> </dt>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Precio)
            </dt>
            <dt class="col-sm-2"> </dt>
            <dd class="col-sm-5">
                @Html.DisplayFor(model => model.Precio)
            </dd>
            <dt class="col-sm-3"> </dt>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Disponible)
            </dt>
            <dt class="col-sm-2"> </dt>
            <dd class="col-sm-5">
                @Html.DisplayFor(model => model.Disponible)
            </dd>

        </dl>
        <form asp-action="Delete">
            &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
            &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
            <a asp-action="Index" style="font-weight:bold" class="btn btn-secondary">Cancelar</a>
            <input type="submit" value="Eliminar" style="font-weight:bold; border:groove" class="btn btn-danger" />
        </form>
    </div>
    <div class="col-md-3"> </div>
</div>