@model IEnumerable<Inmobiliaria_.Net_Core.Models.Inmueble>

<div style="background-color:whitesmoke; margin-top:10%">
    <h4>@ViewData["Title"]</h4>
    <p>
        <a asp-action="Create" style="font-weight:bold">Agregar nuevo Inmueble</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.IdInmueble)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Direccion)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Ambientes)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Tipo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Uso)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Precio)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Disponible)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.propietario)
                </th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.IdInmueble)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Direccion)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Ambientes)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Tipo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Uso)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Precio)
                    </td>
                    <td>
                        @if (item.Disponible == 1)
                        {
                            <p>
                                Si
                            </p>
                        }
                        else
                        {
                            <p>
                                -
                            </p>
                        }
                    </td>
                    <td>
                        @(item.propietario.Nombre + " " + item.propietario.Apellido)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.IdInmueble" title="Editar"><span class="lnr lnr-pencil"></span></a>&nbsp;
                        <a asp-action="Delete" asp-route-id="@item.IdInmueble" title="Eliminar"><span class="lnr lnr-cross"></span></a>
                    </td>
                    <td>
                        @Html.ActionLink("Historial Contratos", "VerContratos", new { id = item.IdInmueble })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>